@page "/prodcuts-details/{id}"
@inherits ProductDetailsBase
 
@if(Product == null && ErrorMessage == null )
{
	<Spinner />
}
else if(ErrorMessage != null)
{
	<h1 class="font-extrabold text-2xl text-red-900">@ErrorMessage</h1>	
}
else
{

	<div class="flex flex-col md:flex-row gap-4 px-6 py-6 md:px-0">
		<img class="max-w-md rounded-lg" src="@Product.ImageUrl " />
		<div class="flex flex-col gap-4">
			<h3 class="font-extrabold text-2xl">@Product.Name</h3>
			<p class="font-bold text-lg"> @Product.Price $ </p>

			@if ( Product.CategoryName == null ){
				<p>Catergory: N/A</p> 
			}else{
				<p class="">Catergory: <a href="#" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">@Product.CategoryName</a></p>
			}
			<h3 class="font-extrabold text-blue-800">Description:</h3>
			<p>@Product.Description</p>
		</div>	
	</div>
}
